nnoremap <M-k> gt
nnoremap <M-j> gT
nnoremap <M-o> :tabo<CR>

nnoremap <C-M-a> :action Annotate<CR>
nnoremap <M-l> :action MethodDown<CR>
nnoremap <M-h> :action MethodUp<CR>
nnoremap <A-j> :action VcsShowNextChangeMarker<CR>
nnoremap <A-k> :action VcsShowPrevChangeMarker<CR>
nnoremap <A-S-r> :action Vcs.RollbackChangedLines<CR>
